<%- include('partials/header') -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<div class="post">
    <p class="title">
        <% posts.forEach(post => { %>

            <h1 class="content"><%= post.title %> </h1>
            <p class="content"><%= post.content %> </p>
            
        <% }); %>
    </p>

</div>

<%- include('partials/footer') -%>